.text-list-item {
  cursor: pointer;
}

.text-list-item.selected span {
  font-weight: bold;
  color: steelblue;
}

.text-list-item.complex {
  background: #96ff92;
}

.text-list-item.complex.important {
  background: #ffa292;
}

.text-list-item > span {
  display: block;
  margin-right: 35px;
}